html,body,#app{
    height:100%;
    margin:0;
    padding:0;
  }
/* 给左侧菜单导航设置字号等样式 */
  .el-submenu__title,.el-menu-item{
    font-size:13px;
  
  }
  /* 给icon图标设置样式 */
  i.iconfont{
    margin-right:10px;
  }
  /* 卡片区公共区域 */
  .box-card{
    margin-top:15px;
    box-shadow: 0 1px 1px rgba(0 , 0, 0, 0.15);
  }
/* 公共表格样式 */
.el-table,.el-pagination{
  margin-top:15px;
  font-size:12px;
}
